body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a2546;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .scoreboard {
    display: flex;
    gap: 100px;
  }
  
  .team {
    text-align: center;
  }
  
  
  .team h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #e8e8e8;
  }

  .awayTeam h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #e8e8e8;
  }
  
  .score {
    background-color: black;
    color: #ff4c5b;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    width: 150px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    border-radius: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .buttons button {
    background-color: transparent;
    border: 2px solid #a0b3d9;
    color: #a0b3d9;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #2d3d6b;
  }
  